.navbar-top {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo .title-logo {
  margin-left: 10px;
  color: green;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-data {
  display: flex;
  flex-direction: column;
}

.user-logo {
  border-radius: 50%;
}

body {
  margin: 0px;
}